<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
    <form method="post" class="form">
        <p class="name">Nome:</p>
        <input name="name" class="text-input" required/>
        <br/><br/>
        <p class="name">Email:</p> 
        <input name="email" class="text-input" required/>
        <br/><br/>
        <p class="name">Setor:</p>
        <p><input name="sector1" type="checkbox" class="sector"> Financeiro</p>
        <p><input name="sector2" type="checkbox" class="sector"> Administração</p>
        <p class="name">Mensagem:</p> 
        <textarea name="msg" class="textarea" required></textarea>
        <br/><br>
        <button type="submit" class="btn" id="btn">Enviar</button>
      </form>
</body>
</html>