body{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    
}

.text-input{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    
}

.textarea{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    width: 20em;
    height: 15em;
}

.btn{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    font-weight: bold;
}